body {
    font-size: 62.5%;
    margin: 0px;
    font-size: 1.2rem;
    padding-top: 5%;
<<<<<<< HEAD
    font-family: 'Inter', sans-serif;
    font-weight: 400;
=======
    font-family: Roboto, Arial, sans-serif;
>>>>>>> a0ca4011c65429cd25a7c848f11dbb8ae8ad2536
}

.header {
    display: flex;
    top: 0;
    padding: 2.5% 0rem;
    width: 100vw;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    background-color: #F4F4F4;
    z-index: 2;
}

.header__div_logo {
    flex: 1;
    width: auto;
    position: absolute;
    left: 7%;
    box-sizing: border-box;
}


.header__div_logo--logo {
    width: 7rem;
    height: auto;
}

.header__search-box {
    flex: 2;
    width: auto;
    position: absolute;
    left: 67%;
    box-sizing: border-box;
}

.header__search-box input {
    width: 15rem;
    height: 1.3rem;
    border: 3px solid orange;
    padding: 1.5%;
    border-radius: 8px;
    background-color: #F4F4F4;

}
.header nav {
    flex: 3;
    font-size: 1.2rem;
    width: auto;
    left: 15%;
    min-width: 22rem;
    position: absolute;
    box-sizing: border-box;
}
.header nav span {
    color: #ff8c00;
}
.header__nav--pages {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
<<<<<<< HEAD
    font-weight: normal;
    font-size: 20px;
    
=======
    transition: text-shadow 600ms,
                font-size 200ms;
}

.header__nav--pages:hover {
    opacity: 0.8;
    font-size: 1.4rem;
    padding: 2px;

    color: orangered;
    text-shadow: 0 0 5px hsl(0, 0%, 76%),      
                 0 0 15px hsl(0, 0%, 76%),      
                 0 0 30px hsl(0, 0%, 76%),     
                 0 0 60px hsl(0, 0%, 76%);      
}

.header__nav--pages:active {
    opacity: 0.4;
>>>>>>> a0ca4011c65429cd25a7c848f11dbb8ae8ad2536
}

.header .div_social-medias {
    flex: 4;
    width: auto;
    position: absolute;
    left: 88%;
    box-sizing: border-box;
<<<<<<< HEAD
    height: auto;
=======
    margin-left: 10vh;
>>>>>>> a0ca4011c65429cd25a7c848f11dbb8ae8ad2536
}

.div_social-medias .social-medias {
    width: 1.2rem;
    margin: 0.25rem 0.5rem 0rem;
    border-radius: 25%;
<<<<<<< HEAD
}

/* Página news */

.anuncio1 .color__anuncio {
    color: #ff8c00;
    font-size: 15px;
}

.anuncio1 .date__anuncio {
    padding-left: 5%;
}

.anuncio1 .img__anuncio1 {
    width: 730px;
    height: 300px;
    padding-left: 5%;
    padding-top: 8%;
}

.anuncio1 .texto__anuncio1 {
    padding-left: 5%;
    font-size: 20px;
    color: black;
}

.anuncio1 .texto__anuncio--noticia {
    padding-left: 5%;
    font-size: medium;
}

.news1__img {
    width: 410px;
    height: 200px;
    padding: 5%;
    padding-top: 0%;
    border-radius: 5%; /*não funciona*/
    float: left;
}

.news1 .news1__artigo {
    font-size: 25px;
    color: black;
}

.news1 .news1__Artigo {
    font-size: 20px;
    text-align: left;
}

.news1 .date__anuncio--2 {
    font-size: 15px;
}

.news1 .color__anuncio--2 {
    color: #ff8c00;
    font-size: 15px;
}

.anuncio2 .img__anuncio2 {
    width: 410px;
    height: 200px;
    padding-left: 65%;
    transform: translateY(-807%);
    float: left;
    z-index: 1;
    position:relative;
    
}

/* .filmesMaisEsperados {
    display: inline-block;
    justify-content: center;
    align-items: center;   
} */

.news2__img {
    width: 410px;
    transform: translateX(-115%);
    position:absolute;
}

.news2 .news2__artigo {
    font-size: 25px;
    color: black;
    margin-left: 40%;
}

.news2 .news2__Artigo {
    font-size: 20px;
    margin-left: 40%;
}

.news2 .date__anuncio--3 {
    font-size: 15px;
    margin-left: 40%;
}

.news2 .color__anuncio--3 {
    color: #ff8c00;
    font-size: 15px;
}

.news3__img {
    width: 410px;
    height: 230px;
    transform: translateX(16%);
    position:absolute;
}

.news3 .news3__artigo {
    font-size: 25px;
    color: black;
    margin-left: 40%;
}

.news3 .news3__Artigo {
    font-size: 20px;
    margin-left: 40%;
}

.news3 .date__anuncio--4 {
    font-size: 15px;
    margin-left: 40%;
}

.news3 .color__anuncio--4 {
    color: #ff8c00;
    font-size: 15px;
}

.news4__img {
    width: 410px;
    height: 230px;
    transform: translateX(16%);
    /* margin-top: 5%; */
    position:absolute;
}

.news4 .news4__artigo {
    font-size: 25px;
    color: black;
    margin-left: 40%;
    margin-top: 8%;
}

.news4 .news4__Artigo {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 3%;
}

.news4 .date__anuncio--5 {
    font-size: 15px;
    margin-left: 40%;
}

.news4 .color__anuncio--5 {
    color: #ff8c00;
    font-size: 15px;
=======
    transition: box-shadow 500ms;
}

.div_social-medias .social-medias:hover {
    animation: rotation 400ms ease-out;
    opacity: 0.8;  

    border-radius: 50%;
    box-shadow: 0 0 5px hsl(0, 0%, 79%),      
                0 0 15px hsl(0, 0%, 79%),      
                0 0 30px hsl(0, 0%, 79%);         
}     

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*-------------- ARTICLES --------------*/ 

.poster-pic {
    display: flex;
    width: 200px;
    object-fit: cover;
>>>>>>> a0ca4011c65429cd25a7c848f11dbb8ae8ad2536
}



<<<<<<< HEAD











=======
>>>>>>> a0ca4011c65429cd25a7c848f11dbb8ae8ad2536
