@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --light-color: #ffedd8;
    --main-color: #FF8c00;
    --dark-color: #000000;
}

body {
    font-size: 62.5%;
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    background-color: rgb(238, 238, 238);
    color: #000000;
    width: 0.8vw;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff7b00;
}

::-webkit-scrollbar-thumb {
    background-color: #FF8c00;
}

.header {
    display: flex;
    top: 0px;
    max-width: 100vw;
    min-width: 800px;
    height: 90px;
    justify-content: center;
    position: sticky;
    box-sizing: border-box;
    background-color: #F4F4F4;
    align-items: center;
    z-index: 1000;

}

.header__flex {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    justify-content: space-between;
    align-content: center;

}

.flex__1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
    justify-content: space-between;
    gap: 2vw;
}

.flex__2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: auto;
    justify-content: space-between;
    gap: 2vw;
}

.header__div_logo {
    width: auto;

}

.header__div_logo:hover {
    scale: 1.02;

}


.header__div_logo--logo {
    width: 7rem;
    height: auto;
}

.header__search-box {
    width: auto;
    height: auto;

}

.header__search-box form {
    display: flex;
    width: 13rem;
    height: 1.6rem;
    border: 3px solid orange;
    border-radius: 8px;

}

.header__search-box input {
    width: 10.3rem;
    padding-left: 0.5rem;
    max-height: 1.5rem;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #F4F4F4;


}

.header__search-box input::placeholder {
    font-size: 0.9rem;


}

.header__search-box input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header__search-box button {
    display: flex;
    overflow: hidden;
    width: 2.7rem;
    max-height: 1.5rem;
    border: 0px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 2.5px solid #ff8c00;
    align-items: center;
    justify-content: center;
}

.header nav {
    font-size: 1.2rem;
    width: auto;
    left: 15%;
    min-width: 22rem;
}

.span--laranja {
    color: #ff8c00;
    text-decoration: underline;
    text-decoration-color: rgb(110, 0, 212);
    text-decoration-thickness: 2px;
}

.header__nav--pages {
    margin-left: 1vw;
    text-decoration: none;
    color: black;
}

.header__nav--pages:hover {
    color: #ff8c00;
}

.btn-custom:hover {
    background-color: #ff7b00;
    border-color: #000000;
    color: #F4F4F4;
}

.header .div_social-medias {
    width: auto;

}

#header-botao-abrir,
#header-botao-fechar {
    display: none;
}

.social-medias {
    width: 1.5rem;
    margin: 0.25rem 0.5rem 0rem;
    border-radius: 25%;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 30%;

}


/* Página index */

.home-main {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    width: 99.2vw;
}

.home-main--esquerda {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.home-main--esquerda--carousel {
    display: grid;
    height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.home-main--esquerda--filmes {
    height: 500px;
}

.home-main--esquerda--criticas {
    height: 500px;
}

.home-main--direita {
    width: 20%;

}


/* Página movies */

#movies-main {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    padding: 1em 1em;
    gap: 150px;
    width: 99.2vw;

}

#movies-main__slide {
    width: 100%;
    min-height: 385px;
    max-height: 475px;
}

.d-block {
    border: 1px solid transparent;
    border-radius: 20px;
    max-height: 495px;
}

#movies-main__topicos {
    flex-flow: column nowrap;
    height: auto;
    padding: 0 5em;
    overflow: hidden;

}

.topicos--nomes {
    color: #FF9D29;
}

.topicos {
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    width: 100%;
    gap: 25px;
    margin-bottom: -1vw;

}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.25s;
    max-height: 500px;
}

.card:hover {
    scale: 0.93;
    rotate: 2deg;
}

.carousel {
    height: 27vw;
    width: 100%;
    max-height: 500px;
}

.carousel-inner {
    max-height: 500px;
}

.prevv_e_next {
    transform: translate(-65%, 0);
    max-height: 500px;



}

.prev_e_nextt {
    transform: translate(65%, 0);
    max-height: 500px;

}

.barra_filmes {
    display: flex;
    flex-flow: row nowrap;
    max-height: 500px;
    justify-content: space-evenly;
    font-size: 0.9vw;
}

.imagem-inicial img {
    max-width: 100%;
}

.pag-movies-imagem {
    height: 70%;
    background-color: black;
}

.lista-group-foto {
    width: 100%;
    height: 100%;
}

.list-group {
    max-height: 30%;
}

.list-group-item1 {
    padding: 1;
    min-height: 50%;
    text-align: center;
}

.list-group-item2 {
    display: flex;
    height: 50%;
    text-align: center;
}

.barra-avaliacao {
    scale: 1;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    margin-top: 10px;
}

.barra-avaliacaoo {
    background-color: #ff9900;
    height: 20px;
    /* Cor da barra de preenchimento */
}

#child {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    max-height: 380px;
    max-width: 700px;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px black;
    z-index: 1;

}

.child-fechar {
    position: fixed;
    right: 10px;
    width: 25px;
    transition: scale, rotate 250ms;
}

.child-fechar:hover {
    scale: 1.1;
    rotate: 90deg;
}

.child-class {
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 380px;
    max-width: 649px;
    grid-template-columns: 5.9fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foto cont"
        ". cont";
    justify-content: center;
    align-items: center;

}

.child-logo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.child-logo--img:hover {
    animation: easteregg 1500ms ease-out
}

@keyframes easteregg {
    0% {
        scale: 1.1;
    }

    20% {
        rotate: 30deg;
    }

    40% {
        rotate: -30deg;
        scale: 1.3;
    }

    50% {
        rotate: 30deg;
    }

    60% {
        rotate: -30deg;
        scale: 1.5;
    }

    65% {
        rotate: 30deg;
    }

    70% {
        rotate: -30deg;
        scale: 1.7;
    }

    75% {
        rotate: 30deg;
    }

    85% {
        rotate: 720deg;
        scale: 1.7;
    }

    100% {}
}

.child-class>#child-foto {
    grid-area: foto;
    border: 5px solid orange;
    transition: scale, rotate 250ms;
}

#child-foto:hover {
    scale: 0.95;
    rotate: 0.5deg;
}

.child-class>#child-conteudo {
    grid-area: cont;
    padding: 3% 5%;
}

#child-conteudo--ul li {
    margin-bottom: 5%
}

.tipo-child {
    font-style: bold;
    color: #ff7b00;
}

/* Página news */

.container {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 1.2fr;
    grid-template-rows: 1.7fr 1.5fr 1fr 1fr 1fr;
    grid-template-areas:
        "card1 card1 card1 sideBar"
        "conteudo1 conteudo1 conteudo1 sideBar"
        "conteudo2 conteudo2 conteudo2 sideBar"
        "conteudo3 conteudo3 conteudo3 sideBar"
        "conteudo4 conteudo4 conteudo4 sideBar";
    padding: 5%;
    margin-left: 0%;
    height: 100vh;
    gap: 10px;
}

.card1 {
    grid-area: card1;
    /* background-color: cyan; */
    height: 400px;
    width: 720px;
    font-size: 16px;
}

.img__anuncio {
    width: 720px;
    height: 270px;
    object-fit: fill;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sideBar {
    grid-area: sideBar;
    display: flex;
    flex-direction: column;
    /* background-color: lightpink; */
    height: 1487px;
    width: 400px;
    margin-left: 5%;
}

.sideBar h4 {
    font-size: 22px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.img__hbo {
    width: 400px;
    height: 200px;
}

.sidebBar--row {
    display: flex;
}

.sideBar1 img {
    border-radius: 5%;
    width: 160px;
    height: 250px;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sideBar1 img:hover {
    transform: scale(1.1);
}

.text_conteudo {
    margin-top: 2%;
    margin-left: 2%;
}

.text__conteudo {
    font-size: 16px;
    text-align: left;
}

.sideBar2 {
    padding-top: 5%;
}

.sideBar2 img {
    border-radius: 5%;
    box-shadow: 5% black;
    width: 160px;
    height: 270px;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sideBar2 img:hover {
    transform: scale(1.1);
}

.sideBar3 {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.sideBar3 img {
    width: 300px;
    height: auto;
    border-radius: 0%;
    place-items: center;
    object-fit: fill;
}

.sideBar3 img:hover {
    transform: none;
}

.conteudo1 {
    display: flex;
    grid-area: conteudo1;
    /* background-color: lightsalmon; */
    margin-top: 40px;
    height: 320px;
}

.item img {
    display: flex;
    width: 250px;
    height: 320px;
    border-radius: 5%;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

}

.item img:hover {
    transform: scale(1.1);
}

.item p {
    text-align: left;
    font-size: 16px;
    padding-left: 5%;
}

.item h3 {
    padding-left: 5%;
}

.conteudo2 {
    display: flex;
    grid-area: conteudo2;
    /* background-color: lightskyblue; */
    margin-top: 25%;
    margin-left: 6%;
    height: 320px;
    width: 722px;
}

.conteudo2 img {
    width: 250px;
    height: 320px;
    border-radius: 5%;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    object-fit: fill;
    transition: transform 0.3s ease-in-out;
}

.conteudo2 img:hover {
    transform: scale(1.1);
}

.conteudo3 {
    display: flex;
    flex-direction: row;
    grid-area: conteudo3;
    /* background-color: lightslategray; */
    margin-top: 25px;
    margin-left: 75px;
    width: 723px;
    height: 383px;
    gap: 3%;
}

.card-text {
    font-size: 16px;
}

.card-img-top {
    transition: transform 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-img-top--modificada {
    height: 162px;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

.card-img-top--modificada:hover {
    transform: scale(1.1);
}

.conteudo4 {
    /* background-color: #FFA944; */
    height: 320px;
    width: 1152px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 75px;
}

.conteudo4--row {
    display: flex;
    gap: 3%;
}

.conteudo4--row img {
    width: 12rem;
    height: 260px;
    border-radius: 5%;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    transition: transform 0.2s ease-in-out;
}

.conteudo4--row img:hover {
    transform: scale(1.2);
}

.color__anuncio {
    color: #ff8c00;
    font-size: 16px;
    text-align: right;
    padding-left: 5%;
}

.color__anuncio2 {
    color: #ff8c00;
    font-size: 8px;
    padding-left: 5%;
}

.color__buttom {
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    width: 120px;
    background-color: #FF8c00;
    color: #F4F4F4;
}

.color__buttom:hover {
    border-color: #000000;
    transform: scale(1.1);
}

.linkStyle {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
}

.linkStyle--modificado {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}

/*final página news*/

/*filmesMaisBuscados pág News*/

.container2 {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "conteudoNews1 conteudoNews1 conteudoNews1 sideBarNews"
        "conteudoNews2 conteudoNews2 conteudoNews2 sideBarNews"
        "conteudoNews2 conteudoNews2 conteudoNews2 sideBarNews"
        "conteudoNews2 conteudoNews2 conteudoNews2 sideBarNews"
        "conteudoNews2 conteudoNews2 conteudoNews2 sideBarNews";
    padding: 5%;
    gap: 10px;
}

.sideBarNews {
    display: flex;
    grid-area: sideBarNews;
    background-color: lightsalmon;
    height: 3624px;
    width: 400px;
    margin-left: 5%;
}

.trailer-tittle--md {
    position: relative;
    padding-left: 20px;
    font-size: 30px;

}

.trailer-tittle--md::before {
    content: '';
    position: absolute;
    left: 3%;
    height: 100%;
    width: 6px;
    background-color: #FF8c00;
    border-radius: 10%;
    margin-top: 2%;
}

.trailer-flex {
    display: flex;
    gap: 3%;
}

.trailer-flex iframe {
    border-radius: 5%;
}

.trailer-flex p {
    font-size: 25px;
}

.conteudoNews1 {
    display: grid;
    grid-area: conteudoNews1;
    /* background-color: lightcoral; */
    height: 410px;
    width: 720px;
}

.conteudoNews1 img {
    height: 250px;
    width: 720px;
}

.conteudoNews1 h3 {
    font-size: 25px;
    margin-top: 3%;
}

.conteudoNews1 p {
    font-size: 20px;
}

.conteudoNews2 {
    display: flex;
    flex-direction: column;
    grid-area: conteudoNews2;
    background-color: lightgreen;
    height: 3190px;
    width: 720px;
    margin-top: -40%;
}

.conteudoNews2 h3 {
    font-size: 30px;
    margin-top: 2%;
}

.conteudoNews2 h4 {
    font-size: 20px;
}

.conteudoNews2 h6 {
    font-size: 15px;
    margin-top: 2%;
}

.conteudoNews2 img {
    margin-top: 5%;
}

.conteudoNews2 p {
    margin-top: 2%;
    font-size: 22px;
}

.conteudoNews2--anuncio {
    display: flex;
    justify-content: center;
}

.conteudoNews2--anuncio img {
    width: 350px;
    height: auto;
}

.paragrafo-italic {
    font-style: italic;
    color: blueviolet;
}

.videoTrailer {
    text-align: center;
}

.conteudoNews2--img {
    width: 680px;
    height: auto;
    margin-left: 2.7%;
}







/*filmesMaisBuscados pág News*/




.div_social-medias .social-medias:hover {
    animation: rotation 400ms ease-out;
    opacity: 0.8;

    border-radius: 50%;
    box-shadow: 0 0 5px hsl(0, 0%, 79%),
        0 0 15px hsl(0, 0%, 79%),
        0 0 30px hsl(0, 0%, 79%);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*-------------- ARTICLES --------------*/

.carousel-item {
    width: 100%;
    height: 495px;
    overflow: hidden;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 40ms linear;
}

.carousel-control-prev {
    background: transparent;
    border: none;
    height: 100%;
}

.carousel-control-next {
    background: transparent;
    border: none;
    height: 100%;
}

.visually-hidden {
    color: orangered;
    font-weight: bolder;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 40ms ease-in-out;
}

.visually-hidden:hover {
    scale: 1.1;
    box-shadow: 0 3px 1px;
}

.visually-hidden:active {
    scale: 1;
    background-color: #FFA944;
    color: #683200;
}

.banner {
    display: flex;
    height: 2.5rem;
    flex-wrap: nowrap;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ff8c00;
    transition: all .4s ease;
}

.banner:hover {
    box-shadow: 0 2px 6px #ccc;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.banner h4 {
    font-size: 1.2rem;
    margin-top: .50rem;
    color: #000000;
}

.banner i {
    font-size: 1.1rem;
    color: #000000;
}

.movie-name {
    display: flex;
    flex-direction: row;
    font-size: 6vh;
    padding: 0;
    margin: 0;
    justify-content: flex-start;

    text-decoration: underline wavy orange;
    font-family: Bebas Neue, Arial, sans-serif;
}

/* Content */
#articles {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    margin-top: 4rem;
    padding-right: 4rem;
}

.carousel-indicators button {
    padding: .3rem;
    border: none;
    border-radius: 50%;
    margin: 1rem;
    background-color: orangered;
}

.article-flex {
    margin-bottom: 1rem;
}

.pagination a {
    color: orangered;
}

.pagination a:hover {
    color: whitesmoke;
    font-weight: bold;
    background-color: #FFA944;
}

.pagination a:visited {
    color: black;
}

.page-item--selected a {
    background-color: orange;
    color: #000000;
}

.top-info {
    display: flex;
    justify-content: space-between;
}

.top-3 h3 {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff7b00;
    padding: .75rem;
    background-color: whitesmoke;
    border: 1.5px solid #ccc;
    border-radius: 50px;
}

.article__container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 10px;
    background: linear-gradient(120deg, white, rgba(255, 184, 53, 0.13), white);
    padding: 1.5rem 1rem;
    transition: all .2s ease-in-out;
}

.article__container:hover {
    box-shadow: 0 8px 10px #ccc;
    scale: 1.02;
}

.article__content {
    overflow: hidden;
    height: 100%;
}

.article__content img {
    max-width: 200px;
    border: none;
    border-radius: 20px;
    height: auto;
    display: block;
}

.article__content h3 {
    color: #000000;
    font-weight: bold;
}

.article-text p {
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;
    text-align: justify;
    font-size: 14px;
}

.posted span {
    color: #ff7b00;
    font-weight: bold;
    cursor: grab;
}

.posted span:hover {
    text-shadow: 0 1px 10px;
}

.banner--articles {
    width: 100%;
    height: 495px;
    overflow: hidden;
}

.banner--articles img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 40ms linear;
}

.banner--articles img:hover {
    opacity: .8;
}

.banner--articles img:active {
    opacity: .4;
}

.page-info {
    background-color: #ff7b00;
    text-align: center;
    font-weight: bold;
    padding: .4rem 0;
    color: #000000;
}

.poster-pic {
    display: flex;
    width: 200px;
    object-fit: cover;
}

/* Aside CSS */
.api-form .list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-evenly;
    top: 6.5rem;
    left: 0;
    gap: 2rem;
}

.list div {
    display: flex;
    flex-direction: column;
    height: 24rem;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.829);
    border: 2px #ccc outset;
    padding: .8rem 1rem;
}

.list img {
    width: 200px;
    border-radius: 10px;
    max-height: 280px;
    cursor: pointer;
}

.list h2 {
    text-align: center;
    font-size: 1.25rem;
    width: 12rem;
    color: orangered;
    font-weight: bold;
    cursor: pointer;
}

.list h2:hover {
    color: #FF8c00;
}

.search-box {
    display: flex;
    margin: .8rem 0;
    background-color: #ffbd72;
    border-radius: 12px;
}

.search-box input {
    all: unset;
    padding: .55rem 1rem;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.search-box button {
    border: none;
    color: #803e00;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    max-height: 100%;
    border-radius: 0 12px 12px 0;
    background-color: orange;
    cursor: pointer;
}

.search-box button:hover {
    opacity: .8;
}

.search-box button:active {
    opacity: .4;
}

.aside__ads {
    width: 100%;
    overflow: hidden;
    height: 300px;
    margin-top: 4rem;
}

#indiana {
    object-fit: cover;
    object-position: 0 -4rem;
}

#haunted {
    object-fit: cover;
    object-position: 0 -9.5rem;
}

#nun {
    object-fit: cover;
    object-position: 0 -1rem;
}

.card-text span {
    color: #ff7b00;
    font-weight: bold;
}

.aside__ads img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
    cursor: pointer;
}

.aside__ads img:hover {
    opacity: .8;
}

.aside__ads img:active {
    opacity: .6;
}

.ads-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #e9e9e9;

    height: 15.7rem;
}

.ads {
    height: 100%;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 30ms linear;
}

.ads img:hover {
    opacity: .8;
}

.ads img:active {
    opacity: .4;
}

.ads img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sponsor p {
    background-color: #000000;
    color: whitesmoke;
    font-size: .6rem;
    padding-left: 1rem;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.articles__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .1px;
    background-color: #ff7b00;
    padding-top: .5rem;
    margin: 1.5rem 3rem 0 3rem;
    margin-top: 7.8rem;
    /* border-radius: 0 0 16px 16px; */
    box-shadow: 0 4px 6px #ccc;
    transition: scale 250ms;
}

.articles__menu h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    height: 1.5rem;
}

.articles__menu p {
    color: #000000;
    font-size: .8rem;
}

.articles__menu--hover:hover {
    scale: 1.05;
}

.vertical-box {
    display: inline-block;
}

.minor-info a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    letter-spacing: -.5px;
}

.minor-info button {
    background: linear-gradient(-30deg, #FFA944, #ff7b00);
    padding: .5rem 2.45rem;
    border: none;
    margin-top: 1rem;
    transition: all .1s ease;
    cursor: pointer;
}

.minor-info button:hover {
    border-bottom: .45rem solid orangered;
    border-radius: 6px 6px;
    box-shadow: 0 1px 6px #333;
    opacity: .8;
}

.minor-info button:active {
    opacity: .4;
}

/* Cards CSS */
.aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 2.5rem);
    justify-content: space-around;
    width: 100%;
    margin-bottom: 16rem;
}

.card-body hr {
    color: #ccc;
    max-width: 100%;
}

.card--top3 img {
    max-width: 60%;
    margin-top: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 8px #ccc;
}

.card--top3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px #ccc;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.card-body p {
    text-align: center;
    font-size: small;
    width: 12rem;
}

.card-unity p {
    position: absolute;
    text-align: center;
    width: 10rem;
    margin-top: 15rem;
    color: #000000;
    border-radius: 8px 8px 38% 38%;
    padding: .2rem auto;
    font-size: 14px;
    opacity: .8;
    transition: all .2s ease-in-out;
}

.card-unity p:hover {
    font-weight: bold;
    text-shadow: 0 6px 8px #ccc;
    scale: 1.1;
    color: #ff7b00;
    opacity: 1;
}

.card__options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 12rem;
    height: 14rem;
    border-radius: 10px;
    color: whitesmoke;
    background: rgba(0, 0, 0, .6);
    transition: all .2s ease;
    opacity: 0;
}

.card-content button {
    border: none;
    background-color: #ff7b00;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    transition: all 40ms ease-in-out;
}

.card-content button:hover {
    background-color: #FF8c00;
    box-shadow: 0 2px 1px orangered;
    scale: 1.1;
}

.card-content button:active {
    background-color: #FFA944;
    border: none;
    scale: 1;
}

.card-content--faf button {
    border: none;
    background-color: #ff7b00;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    transition: all 40ms ease-in-out;
}

.card-content--faf button:hover {
    background-color: #FF8c00;
    box-shadow: 0 2px 1px orangered;
    scale: 1.1;
}

.card-content--faf button:active {
    background-color: #FFA944;
    border: none;
    scale: 1;
}

.card-content--faf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 12rem;
    height: 14rem;
    border-radius: 10px;
    color: whitesmoke;
    background: rgba(0, 0, 0, .6);
    transition: all .2s ease;
    opacity: 0;
}

.card-content--hg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 12rem;
    height: 14rem;
    border-radius: 10px;
    color: whitesmoke;
    background: rgba(0, 0, 0, .6);
    transition: all .2s ease;
    opacity: 0;
}

.card-content h1 {
    background-color: #ff7b00;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
    transition: all .2s ease;
}

.card-content--faf h1 {
    background-color: #ff7b00;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 40%;
    text-align: center;
    transition: all .2s ease;
}

.card-content--hg h1 {
    background-color: #ff7b00;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 40%;
    text-align: center;
    transition: all .2s ease;
}

.card-content:hover {
    opacity: 1;
}

.card-content--faf:hover {
    opacity: 1;
}

.card-content--hg:hover {
    opacity: 1;
}

.card-content h1:hover {
    color: whitesmoke;
}

.card-unity {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card-unity img {
    width: 12rem;
    height: 14rem;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    border: 2px #ccc outset;
}

.review-title {
    font-weight: bold;
    /* margin-left: 6rem; */
    text-align: center;
    border-radius: 4px;
    background-color: #ff7b00;
    margin: 1.5rem 3rem 3.5rem 3rem;
    color: white;
    padding: .75rem 0;
    box-shadow: 0 4px 6px #ccc;
    transition: all 60ms linear;
}

.review-title:hover {
    scale: 1.025;
}

/* -------------- LOGIN -------------- */

.main-login {
    display: grid;
    grid-template-rows: 15% 85%;
    min-height: 674px;
    height: 69vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cadastro-anuncio {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 100px;
    background-image: linear-gradient(to bottom, #FFA944, rgb(248, 118, 67));
    align-items: center;
    justify-content: center;
    color: white;
}

.cadastro-anuncio--1 {
    padding-top: 0.5rem;
    width: 375px;
    height: auto;
    font-size: x-large;

}

.cadastro-anuncio--1 p {
    height: 100%;

}

.cadastro-anuncio--2 {
    width: 375px;
    text-align: center;

}

.button-cadastrar-novo {
    scale: 1.5;
    padding: 0.2rem 1rem;
    background-color: rgb(255, 136, 0);
    border: 1px none;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.63);
    color: white;
    border-radius: 30px;
    transition: scale 0.2s;
    font-weight: bold;
    font-size: 1rem;
}

.button-cadastrar-novo:hover {
    scale: 1.6;

}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form--div {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    height: 62%;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 6px 10px rgb(99, 99, 99);
    transition: all 0.1s;
}

.login-form--div:hover {
    scale: 1.005;
    box-shadow: 5px 6px 15px rgb(99, 99, 99);
}

#form-login {
    height: 70%;
    padding: 2rem;
    padding-top: 1.5rem;
}

#form-login input {
    display: block;
    width: 218px;
    height: 2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.15s;


}

#form-login input::placeholder {
    font-size: 0.9rem;
}

#form-login input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;

}

#form-login button {
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    background-color: #ff7b00;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: all 0.15s;
}

#form-login button:hover,
#form-login input:hover {
    scale: 1.05;

}

/* #form-login--div input:focus {
    form-login {
        scale: 1.01;
    }

}  */
.esqueceu-senha {
    height: 15%;
    text-align: center;
}

.esqueceu-senha a {
    color: #ff8c00;
    text-decoration: none;
}

.esqueceu-senha a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.criar-conta--a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    background-color: #ff7b00;
    border-radius: 19px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.15s;
}

.criar-conta--a:hover {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

/* -------------- FOOTER -------------- */

footer {
    box-shadow: 0 -2px 8px #ccc;
    background-color: #F4F4F4;
    width: 100%;
    height: 200px;
    min-width: 800px;

}

.footer__flex {
    margin: auto;
    display: flex;
    width: 85%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

footer hr {
    width: 60rem;
}

.flex--2--1,
.flex--2--2,
.flex--2--3 {
    width: auto;
    text-align: center;
}

.footer__flex--2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.header__div_logo--logo:hover {
    scale: 1.02;

}

.footer-a {
    color: black;
    text-decoration-color: #ff7b00;
    text-decoration-thickness: 2px;

}

.btn-custom:hover {
    background-color: #ff7b00;
}

/*media responsivo*/

@media only screen and (max-width: 1117px) {
    .child-conteudo {
        font-size: 0.9vw;
    }

    .topicos {
        height: 450px;
    }
    #header-botao-abrir {
        display: inline-block;
    }
    
    #header-botao-fechar {
        display: none;
    }
    
    /* #header-link-home */
    #header-link-artigos,
    #header-link-movies,
    #header-link-news,
    #header-link-login {
        display: none;
    }
    footer hr {
        width: 100%;
    }
    
}


/* Estilos para telas pequenas (smartphones) */
@media only screen and (max-width: 807px) {}