@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --light-color: #ffedd8;
  --main-color: #ff8c00;
  --dark-color: #000000;
}

html.dark ::-webkit-scrollbar {
  background-color: #11100f;
}
body.dark {
  background: #2a2825;
}
html.dark body .item {
  color: #fff;
}
html.dark body .sideBar1 {
  color: #fff;
}
html.dark body .sideBar2 {
  color: #fff;
}
html.dark body .conteudo4 {
  color: #fff;
}
html.dark body .card-body {
  color: #fff;
}
html.dark body .card1 p {
  color: #fff;
}
html.dark body header,
body.dark footer {
  background-color: #11100f;
  color: rgb(209, 205, 199);
}
html.dark body .articles__menu {
  box-shadow: 0 4px 6px #000000;
}
html.dark body .articles__menu--artigos {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
}
html.dark body .article__container {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
  background: linear-gradient(-12deg, #333, #252525);
  color: #fff;
}
html.dark body .card--top3 {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
  background: #ab6616;
  border: none;
  color: #fff;
}
html.dark body .card--top3 span {
  color: #663804;
  font-weight: bold;
}
html.dark body .rating-box {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
  background: #ab6616;
}
html.dark body .rating-box h4 {
  color: #fff;
}
html.dark body .rating-box i {
  color: #663804;
}
html.dark body .rating-box i:hover {
  color: #ffd900;
}
html.dark body #header-botao-abrir {
  background-color: #ab6616;
}
html.dark body #header-botao-fechar {
  background-color: #ab6616;
}
html.dark body .ads-container {
  background-color: #333;
}
html.dark body .review-title--artigos {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
}
html.dark body .card-unity--bottom {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
  background-color: #333;
}
html.dark body .page-item a:hover {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
  background-color: #333;
}
html.dark body .page-item {
  border: none;
}
html.dark body .page-item--selected a:hover {
  box-shadow: 0 6px 6px hsla(0, 0%, 8%, 0.8);
}
html.dark body .pagination a {
  background-color: #333;
  border: none;
  color: #fff;
}
html.dark body .page-item--selected a {
  background-color: #ff6600;
}
html.dark body .pagination a:hover {
  background-color: #ff9900;
}
html.dark body .footer__flex hr {
  background-color: #ff9900;
}
html.dark body .darkmode label {
  box-shadow: 0 1px 8px #ff9900;
}
html.dark body,
html.dark body,
html.dark #child {
  background-color: rgb(46, 46, 46);
  color: white;
}
body.dark footer a {
  color: rgb(209, 205, 199);
}
html.dark body header .header__flex .flex__1 a button:hover {
  background-color: #2c2c2c;
  box-shadow: 0 4px 0.2px #cc630093;
  color: rgb(204, 98, 0);
}
html.dark body header .header__flex .flex__2 #search-box_header button {
  background-color: #e67a00;
}
html.dark body .home-main--esquerda--criticas,
html.dark body .home-main--direita {
  color: white;
}
html.dark body .home-main--esquerda--criticas button {
  border: 1px solid black;
}
.header-link.dark {
  color: rgb(161, 153, 141);
}

.header-link.dark:hover {
  color: #000000;
}

.search-box.dark {
  background-color: #ab6616;
}
.search-box.dark input::placeholder {
  color: rgb(209, 205, 199);
}

body {
  font-size: 62.5%;
  margin: 0px;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  background-color: rgb(238, 238, 238);
  color: #000000;
  width: 0.8vw;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff7b00;
}

::-webkit-scrollbar-thumb {
  background-color: #ff8c00;
}

.header {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: sticky;
  box-sizing: border-box;
  background-color: #f4f4f4;
  align-items: center;
  z-index: 1000;
}

.header__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.flex__1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  justify-content: space-between;
  gap: 30px;
}

/* .flex__1 .btn-custom::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ccc;
    opacity: 1;
    border-radius: 8px;
    margin: auto;
    display: block;
} */

/* .flex__1 .btn-custom:hover::after {
    width: 100%;
    transition: width .3s ease-in-out;
} */

.flex__1 .btn-custom {
  background: transparent;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.flex__1 .btn-custom:hover {
  background: #ff8c00;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
  scale: 1.1;
  color: #fff;
}

.flex__1 .btn-custom:active {
  scale: 1;
}

.flex__2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  gap: 34px;
  padding-left: 2rem;
}

.header__div_logo {
  width: auto;
}

.header__div_logo:hover {
  scale: 1.02;
}

.header__div_logo--logo {
  width: 7rem;
  height: auto;
}

.header__search-box {
  width: auto;
  height: auto;
}

.header__search-box form {
  display: flex;
  width: 13rem;
  height: 1.6rem;
  border: 3px solid orange;
  border-radius: 8px;
}

.header__search-box input {
  width: 10.3rem;
  padding-left: 0.5rem;
  max-height: 1.5rem;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f4f4f4;
}

.header__search-box input::placeholder {
  font-size: 0.9rem;
}

.header__search-box input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.header__search-box button {
  display: flex;
  overflow: hidden;
  width: 2.7rem;
  max-height: 1.5rem;
  border: 0px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 2.5px solid #ff8c00;
  align-items: center;
  justify-content: center;
}

.span--laranja {
  color: #ff8c00;
  text-decoration: underline;
  text-decoration-color: rgb(110, 0, 212);
  text-decoration-thickness: 2px;
  text-decoration: none;
}

.header__nav--pages {
  margin-left: 1vw;
  text-decoration: none;
  color: black;
}

.header__nav--pages:hover {
  color: #ff8c00;
}

.header .div_social-medias {
  width: auto;
}

#header-botao-abrir,
#header-botao-fechar {
  display: none;
}
#header-botao-abrir,
#header-botao-fechar {
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 6px 14px 14px 6px;
  padding: 0.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

#header-botao-fechar {
  border-radius: 14px 6px 6px 14px;
}

#header-botao-abrir:hover,
#header-botao-fechar:hover {
  background: #e6e6e6;
  box-shadow: 0 4px 0.2px #ccc;
  scale: 1.1;
}

.social-medias {
  width: 1.5rem;
  margin: 0.25rem 0.5rem 0rem;
  border-radius: 25%;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 30%;
  transition: all 0.21s linear;
}

/* Página index */

.home-main {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  width: 100%;
}

.home-main--esquerda {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  height: auto;
}

.home-main--esquerda--carousel {
  display: flex;
  margin-top: 4%;
  height: 392px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
  overflow: hidden;
}

.home-main--esquerda--filmes {
  width: 100%;
  padding: 2%;
  height: auto;

  h2 {
    padding: 2%;
    color: #ff7b00;
  }
}

/* .botão-criticas {
  height: 40px;
  width: 75px;
  background-color: #ff7b00;
  color: white;
  border-color: white;
  margin-left: 40px;
  margin-bottom: 40px;
} */

/* .botão-criticas2 {
  height: 40px;
  width: 75px;
  background-color: #ff7b00;
  color: white;
  border-color: white;
  margin-left: 40px;
} */

.main-criticas {
  height: auto;
  padding: 28px;
  text-align: justify;
  width: 100%;

  h2 {
    color: #ff7b00;
  }

  h4 {
    width: auto;
    margin: 1.5rem;
  }
}

.main-criticas h4:hover {
  color: #ff7b00;
  cursor: pointer;
}

.container-critica {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;

  p {
    width: auto;
    font-size: 17px;
  }
}

.container-critica--img1 {
  width: auto;
  height: 350px;
  object-fit: cover;
}
.container-critica--img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.container-criticatexto {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container-main-critica {
  padding: 1rem;
}

.container-criticatexto button {
  justify-content: end;
  height: 40px;
  width: 50%;
  background-color: #ff7b00;
  color: white;
  border-color: white;
  margin: 0px 151px;
}

.container-criticatexto button:hover {
  background-color: #ff9900;
  cursor: pointer;
}

.img-das-criticas2 {
  max-width: 450px;
  height: 350px;
}

.main-container-right {
  width: 370px;
  margin: 74px 0 0 0;
}

.main-container-right--item {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-right: 5%;
  gap: 1rem;

  p {
    font-size: 1.2rem;
  }
}

.carousel__index {
  width: 55vw;
  height: 400px;
}

.index-tamcarousel {
  width: 800px;
  height: 400px;
}

.imgs-carousel {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.d-block {
  border: 1px solid transparent;
  border-radius: 20px;
  max-height: 400px;
}

/* Página movies */
.container-best-movies {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 24px;
}

.container-best-movies-index {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
  height: auto;

  h3 {
    font-size: 16px;
  }
}

.container-best-movies-index h3:hover{
  color: #ff7b00;
  cursor: pointer;
}
.container-best-movies-index p:hover{
  color: #ff7b00;
  cursor: pointer;
}

.movie-card {
  width: 200px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 83%);
  text-align: center;
}

.movie-image {
  position: relative;
  display: inline-block;
}

.movie-image img {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.movie-image img:hover {
  transform: scale(1.05);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  opacity: 0.3; /* Transparente inicialmente */
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.play-button:hover {
  opacity: 1; /* Mais visível quando passar o mouse */
  color: #ff7b00;
}

.play-button i {
  color: white;
}

.movie-card h3 {
  font-size: 1rem;
  margin: 10px 0;
  color: #111111;
}

.movie-card h3:hover {
  color: #ff7b00;
  cursor: pointer;
}

.movie-card p {
  font-size: 0.9rem;
  color: #777;
}

.movie-card p:hover {
  color: #ff7b00;
  cursor: pointer;
}

/**/

.movies-main {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: 100%;
}

.section-movies {
  width: 100%;
  height: auto;
}

.movies-main__categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.topicos--nomes {
  color: #ff9d29;
}

.topicos {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: 100%;
  gap: 25px;
}

.carousel {
  height: auto;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.barra_filmes {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.prevv_e_next {
  transform: translate(-65%, 0);
  max-height: 500px;
}

.prev_e_nextt {
  transform: translate(65%, 0);
  max-height: 500px;
}

.lista-group-foto {
  width: 100%;
  height: 100%;
}

.barra-avaliacao {
  scale: 1;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.barra-avaliacaoo {
  background-color: #ff9900;
  height: 20px;
  /* Cor da barra de preenchimento */
}

html body .card:hover {
  box-shadow: 1px 1px 15px rgb(255, 136, 0);
}

#child {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  max-height: 380px;
  max-width: 700px;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px black;
  z-index: 1;
}

.child-fechar {
  position: fixed;
  right: 10px;
  width: 25px;
  transition: scale, rotate 250ms;
}

.child-fechar:hover {
  scale: 1.1;
  rotate: 90deg;
}

.child-class {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 380px;
  max-width: 649px;
  grid-template-columns: 5.9fr 10fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "foto cont"
    ". cont";
  justify-content: center;
  align-items: center;
}

.child-logo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.child-logo--img:hover {
  animation: easteregg 1500ms ease-out;
}

@keyframes easteregg {
  0% {
    scale: 1.1;
  }

  20% {
    rotate: 30deg;
  }

  40% {
    rotate: -30deg;
    scale: 1.3;
  }

  50% {
    rotate: 30deg;
  }

  60% {
    rotate: -30deg;
    scale: 1.5;
  }

  65% {
    rotate: 30deg;
  }

  70% {
    rotate: -30deg;
    scale: 1.7;
  }

  75% {
    rotate: 30deg;
  }

  85% {
    rotate: 720deg;
    scale: 1.7;
  }

  100% {
  }
}

.child-class > #child-foto {
  height: 100%;
  grid-area: foto;
  border: 5px solid orange;
  transition: scale, rotate 250ms;
}

#child-foto:hover {
  scale: 0.95;
  rotate: 0.5deg;
}

.child-class > #child-conteudo {
  grid-area: cont;
  padding: 3% 5%;
  height: 100%;
}

#child-conteudo--ul li {
  margin-bottom: 5%;
}

.tipo-child {
  font-style: bold;
  color: #ff7b00;
}

/* Página news */

.container {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr 1.2fr;
  grid-template-rows: 1.7fr 1.5fr 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card1 card1 sideBar"
    "conteudo1 conteudo1 conteudo1 sideBar"
    "conteudo2 conteudo2 conteudo2 sideBar"
    "conteudo3 conteudo3 conteudo3 sideBar"
    "conteudo4 conteudo4 conteudo4 sideBar";
  padding: 5%;
  margin-left: 0%;
  height: 100vh;
  gap: 10px;
}

.card1 {
  grid-area: card1;
  /* background-color: cyan; */
  height: 400px;
  width: 720px;
  font-size: 16px;
}

.img__anuncio {
  width: 720px;
  height: 270px;
  object-fit: fill;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sideBar {
  grid-area: sideBar;
  display: flex;
  flex-direction: column;
  /* background-color: lightpink; */
  height: 1487px;
  width: 400px;
  margin-left: 5%;
}

.sideBar h4 {
  font-size: 22px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img__hbo {
  width: 400px;
  height: 200px;
}

.sidebBar--row {
  display: flex;
}

.sideBar1 img {
  border-radius: 5%;
  width: 160px;
  height: 250px;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sideBar1 img:hover {
  transform: scale(1.1);
}

.text_conteudo {
  margin-top: 2%;
  margin-left: 2%;
}

.text__conteudo {
  font-size: 16px;
  text-align: left;
}

.sideBar2 {
  padding-top: 5%;
}

.sideBar2 img {
  border-radius: 5%;
  box-shadow: 5% black;
  width: 160px;
  height: 270px;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sideBar2 img:hover {
  transform: scale(1.1);
}

.sideBar3 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.sideBar3 img {
  width: 300px;
  height: auto;
  border-radius: 0%;
  place-items: center;
  object-fit: fill;
}

.sideBar3 img:hover {
  transform: none;
}

.conteudo1 {
  display: flex;
  grid-area: conteudo1;
  margin-top: 40px;
  height: 320px;
}

.item img {
  display: flex;
  width: 250px;
  height: 320px;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.item img:hover {
  transform: scale(1.1);
}

.item p {
  text-align: left;
  font-size: 16px;
  padding-left: 5%;
}

.item h3 {
  padding-left: 5%;
}

.conteudo2 {
  display: flex;
  grid-area: conteudo2;
  /* background-color: lightskyblue; */
  margin-top: 25%;
  margin-left: 6%;
  height: 320px;
  width: 722px;
}

.conteudo2 img {
  width: 250px;
  height: 320px;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  object-fit: fill;
  transition: transform 0.3s ease-in-out;
}

.conteudo2 img:hover {
  transform: scale(1.1);
}

.conteudo3 {
  display: flex;
  flex-direction: row;
  grid-area: conteudo3;
  /* background-color: lightslategray; */
  margin-top: 25px;
  margin-left: 75px;
  width: 723px;
  height: 383px;
  gap: 3%;
}

.card-text {
  font-size: 16px;
}

.card-img-top {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-img-top--modificada {
  height: 162px;
  width: 350px;
  transition: transform 0.3s ease-in-out;
}

.card-img-top--modificada:hover {
  transform: scale(1.1);
}

.conteudo4 {
  /* background-color: #FFA944; */
  height: 320px;
  width: 1152px;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 75px;
}

.conteudo4--row {
  display: flex;
  gap: 3%;
}

.conteudo4--row img {
  width: 12rem;
  height: 260px;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  transition: transform 0.2s ease-in-out;
}

.conteudo4--row img:hover {
  transform: scale(1.2);
}

.color__anuncio {
  color: #ff8c00;
  font-size: 16px;
  text-align: right;
  padding-left: 5%;
}

.color__anuncio2 {
  color: #ff8c00;
  font-size: 8px;
  padding-left: 5%;
}

.color__buttom {
  border-radius: 5%;
  transition: transform 0.3s ease-in-out;
  width: 120px;
  background-color: #ff8c00;
  color: #f4f4f4;
}

.color__buttom:hover {
  border-color: #000000;
  transform: scale(1.1);
}

.linkStyle {
  text-decoration: none;
  font-size: 25px;
  color: #000000;
}

.linkStyle--modificado {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}

/*final página news*/

.div_social-medias .social-medias:hover {
  animation: rotation 400ms ease-out;
  opacity: 0.8;

  border-radius: 50%;
  box-shadow: 0 0 5px hsl(0, 0%, 79%), 0 0 15px hsl(0, 0%, 79%),
    0 0 30px hsl(0, 0%, 79%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*-------------- ARTICLES --------------*/
@media only screen and (max-width: 1117px) {
  .pagination {
    justify-content: center;
  }
  .cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
  }
}

@media only screen and (max-width: 1238px) {
  #articles {
    flex-direction: column;
  }
  .cards-container {
    display: flex;
    flex-flow: wrap row;
    gap: 1.5rem;
    overflow: hidden;
  }
  .aside__ads {
    display: none;
  }
  .carousel-indicators {
    visibility: hidden;
  }
  .articles__menu--artigos {
    border-radius: 10px 10px 10px 10px;
  }
}

.dropdown button {
  border-radius: 10px;
  box-shadow: 0 4px 6px #ccc;
}
.fa-users {
  color: black;
}

.dropdown {
  display: none;
  transition: all 0.1s ease;
}
.dropdown:hover {
  scale: 1.1;
}

@media only screen and (max-width: 1200px) {
  .dropdown {
    display: block;
  }
  .div_social-medias {
    display: none;
  }
}

.dropdown button {
  background-color: #e9e9e9;
  color: #333;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: #ccc;
  border-radius: 10px;
  padding: 0 1rem;
  box-shadow: 0 4px 6px hsl(0, 0%, 67%);
}

.dropdown:hover .content {
  display: block;
}

.darkmode {
  margin-top: 0.75rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
  /* margin: .25rem 1.6rem; */
}

.label {
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  scale: 1.1;
  box-shadow: 0 0px 10px #757575;
}

.label i {
  margin: 0 0.2rem;
}

.label i {
  font-size: 12px;
  padding: 0.15rem;
}

.ball {
  background-color: #ff7b00;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2.5px;
  height: 19px;
  width: 19px;
  transform: translateX(0px);
  transition: transform 0.2s linear, background-color 0.2s linear;
}
.ball:hover {
  background-color: #ff9d29;
}

.checkbox:checked + .label .ball {
  transform: translateX(25px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #ff8c00;
}

.carousel-item {
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}

.carousel-control-prev {
  background: transparent;
  border: none;
  height: auto;
}

.carousel-control-next {
  background: transparent;
  border: none;
  height: auto;
}

.visually-hidden {
  color: #ff4500;
  font-weight: 500;
  background-color: #ccc;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.visually-hidden:hover {
  scale: 1.1;
  box-shadow: 0 3px 0.5px;
  opacity: 1;
}

.visually-hidden:active {
  scale: 1;
  background-color: #ffa944;
  color: #683200;
}









.movie-name {
  display: flex;
  flex-direction: row;
  font-size: 6vh;
  padding: 0;
  margin: 0;
  justify-content: flex-start;

  text-decoration: underline wavy orange;
  font-family: Bebas Neue, Arial, sans-serif;
}

/* Content */
#articles {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  margin-top: 4rem;
  padding-right: 4rem;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-indicators button {
  padding: 0.3rem;
  border: none;
  width: 4%;
  border-radius: 4px;
  margin: 0.75rem;
  background-color: orangered;
  box-shadow: 0 3px 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.carousel-indicators button:hover {
  scale: 1.1;
  transform: rotate(-8deg);
  background-color: orange;
}
.carousel-indicators button:active {
  scale: 1;
  transform: rotate(0deg);
  background-color: orangered;
}

.article-flex {
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
}

.pagination a {
  border: 1px solid #ccc;
  color: black;
  border-radius: 50px;
  font-weight: bold;
}

.pagination a {
  transition: all 0.1s ease-in-out;
}
.pagination li {
  transition: all 0.1s ease-in-out;
}

.pagination a:hover {
  color: black;
  font-weight: bold;
  background-color: #ffa944;
  box-shadow: 0 2px 3px #ccc;
}

.pagination li:hover {
  scale: 1.2;
}

.pagination a:visited {
  color: black;
}
.pagination a:hover:not(.active) {
  background-color: #ffae00;
  border-radius: 50px;
}

.page-item--selected a {
  background-color: #ff6600;
  color: #000000;
}

#previous {
  border-radius: 50px;
}

#next {
  border-radius: 50px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.top-3 h3 {
  text-align: center;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7b00;
  padding: 0.75rem;
  background-color: whitesmoke;
  border: 1.5px solid #ccc;
  border-radius: 50px;
}

.article__container {
  display: flex;
  margin-bottom: 4rem;
  gap: 2rem;
  /* border-bottom: 2.5px #FF8c00 solid; */
  border-radius: 10px;
  background: linear-gradient(120deg, white, rgba(255, 184, 53, 0.13), white);
  padding: 1.5rem 2rem;
  transition: all 0.2s ease-in-out;
}

.article__container:hover {
  box-shadow: 0 8px 10px #ccc;
  scale: 1.02;
}

@media only screen and (max-width: 1238px) {
  .article__container {
    flex-direction: column;
  }
  .footer__flex--1 {
    position: absolute;
    bottom: 1;
  }
}

.article__content {
  overflow: hidden;
  height: 100%;
}

.article__content img {
  max-width: 200px;
  border: none;
  border-radius: 20px;
  height: auto;
  display: block;
}

.article__content h3 {
  color: #000000;
  font-weight: bold;
}

.article-text p {
  display: flex;
  flex-wrap: wrap;
  max-width: 35rem;
  text-align: justify;
  font-size: 14px;
}

.posted span {
  color: #ff7b00;
  font-weight: bold;
  cursor: grab;
}

.posted span:hover {
  text-shadow: 0 1px 10px;
}

@media only screen and (max-width: 543px) {
  .bottom-body {
    flex-direction: column;
  }
  .top-info {
    flex-direction: column;
    align-items: center;
  }
}


.page-info {
  background-color: #ff7b00;
  text-align: center;
  font-weight: bold;
  padding: 0.4rem 0;
  color: #000000;
}

.poster-pic {
  display: flex;
  width: 200px;
  object-fit: cover;
}

/* Aside CSS */
.api-form .list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-evenly;
  top: 8.5rem;
  left: 0;
  gap: 2rem;
  width: 100%;
  padding: 0 20px;
}

.list div {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.829);
  padding: 1rem;
  width: 210px;

  img {
    width: auto;
    border-radius: 10px;
    max-height: 300px;
    cursor: pointer;
  }

  item {
    width: 100%;
  }
}

.list h2 {
  text-align: center;
  font-size: 1.25rem;
  width: 12rem;
  color: orangered;
  font-weight: bold;
  cursor: pointer;
}

.list h2:hover {
  color: #ff8c00;
}

.search-box {
  display: flex;
  margin: 0.8rem 0;
  background-color: #ffbd72;
  border-radius: 12px;
}

.search-box input {
  all: unset;
  padding: 0.55rem 1rem;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.search-box button {
  border: none;
  color: #803e00;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  max-height: 100%;
  border-radius: 0 12px 12px 0;
  background-color: orange;
  cursor: pointer;
}

.search-box button:hover {
  opacity: 0.8;
}

.search-box button:active {
  opacity: 0.4;
}

@media only screen and (max-width: 1117px) {
  .search-box {
    display: none;
  }
  .cards-container {
    align-items: center;
    justify-content: center;
  }
  .footer__flex {
    overflow: hidden;
    max-width: 100%;
    bottom: 1;
  }
  .footer__flex--1 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }
  /* .header__flex {
        display: flex;
        justify-content: space-between;
    }
    .flex__2 {
        position: absolute;
    } */
}

.aside__ads {
  width: 100%;
  overflow: hidden;
  height: 300px;
}

#elemental {
  object-fit: cover;
  object-position: 0 -5.2rem;
}

#dune {
  object-fit: cover;
  object-position: 0 -1.8rem;
}

#nun {
  object-fit: cover;
  object-position: 0 -1rem;
}

#killers {
  object-fit: cover;
}

.card-text span {
  color: #ff7b00;
  font-weight: bold;
}

.aside__ads img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
  cursor: pointer;
}

.aside__ads img:hover {
  opacity: 0.8;
}

.aside__ads img:active {
  opacity: 0.6;
}

.ads-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #e9e9e9;
  height: 15.7rem;
}

.ads {
  height: 100%;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 30ms linear;
}

.ads img:hover {
  opacity: 0.8;
}

.ads img:active {
  opacity: 0.4;
}

.ads img {
  max-width: 100%;
  height: auto;
  display: block;
}

.sponsor p {
  background-color: #000000;
  color: whitesmoke;
  font-size: 0.6rem;
  padding-left: 1rem;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.articles__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.1px;
  background-color: #ff7b00;
  padding-top: 0.5rem;
  box-shadow: 0 4px 6px #ccc;
  transition: scale 250ms;
  width: 100%;
  height: 100%;
}

.articles__menu--artigos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.1px;
  background-color: #ff7b00;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 6px #ccc;
  transition: scale 250ms;
}

.articles__menu h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  height: 1.5rem;
}
.articles__menu--artigos h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  height: 1.5rem;
}
.articles__menu--artigos span {
  color: rgb(255, 217, 0);
}

.articles__menu--artigos p {
  color: white;
  font-size: 0.8rem;
}
.articles__menu--artigos:hover {
  scale: 1.025;
}

.articles__menu--hover:hover {
  scale: 1.05;
}

.vertical-box {
  display: inline-block;
}

.minor-info a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.minor-info button {
  background: linear-gradient(-30deg, #ffa944, #ff7b00);
  padding: 0.5rem 2.45rem;
  border: none;
  margin-top: 1rem;
  transition: all 0.1s ease;
  cursor: pointer;
}

.minor-info button:hover {
  border-bottom: 0.45rem solid orangered;
  border-radius: 6px 6px;
  box-shadow: 0 1px 6px #333;
  opacity: 0.8;
}

.minor-info button:active {
  opacity: 0.4;
}

/* Cards CSS */
.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 2.5rem);
  justify-content: space-around;
  width: 100%;
  margin-bottom: 16rem;
}

.card--top3 img {
  max-width: 60%;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 8px #ccc;
}

.card--top3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px #ccc;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.card-body p {
  text-align: center;
  font-size: 14px;
}

.card__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
  opacity: 0;
}
.card-content--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  height: 14rem;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
  opacity: 0;
}

.card-content button {
  border: none;
  background-color: #ff7b00;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bold;
  transition: all 40ms ease-in-out;
}

.card-content button:hover {
  background-color: #ff8c00;
  box-shadow: 0 2px 1px orangered;
  scale: 1.1;
}

.card-content button:active {
  background-color: #ffa944;
  border: none;
  scale: 1;
}

.card-content--faf button {
  border: none;
  background-color: #ff7b00;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bold;
  transition: all 40ms ease-in-out;
}

.card-content--faf button:hover {
  background-color: #ff8c00;
  box-shadow: 0 2px 1px orangered;
  scale: 1.1;
}

.card-content--faf button:active {
  background-color: #ffa944;
  border: none;
  scale: 1;
}

.card-content--faf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
  opacity: 0;
}

.card-content--hg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
  opacity: 0;
}

.card-content h1 {
  background-color: #ff7b00;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 20%;
  text-align: center;
  transition: all 0.2s ease;
}
.card-content--bottom h1 {
  background-color: #ff7b00;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 20%;
  text-align: center;
  transition: all 0.2s ease;
}

.card-content--faf h1 {
  background-color: #ff7b00;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 40%;
  text-align: center;
  transition: all 0.2s ease;
}

.card-content--hg h1 {
  background-color: #ff7b00;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 40%;
  text-align: center;
  transition: all 0.2s ease;
}

.card-content:hover {
  opacity: 1;
}
.card-content--bottom:hover {
  opacity: 1;
}

.card-content--faf:hover {
  opacity: 1;
}

.card-content--hg:hover {
  opacity: 1;
}

.card-content h1:hover {
  color: whitesmoke;
}
.card-content--bottom h1:hover {
  color: whitesmoke;
}

.card-unity {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-unity--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 1px #ccc;
}

.card-unity--bottom:hover {
  rotate: 4deg;
  box-shadow: 12px 8px 10px #ccc;
}

.card-unity--bottom p {
  font-weight: 500;
  font-family: "Roboto";
  width: 180px;
  text-align: center;
  background-color: #ff8c00;
  width: 100%;
  color: white;
}

.card-unity img {
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.card-unity--bottom img {
  width: 12rem;
  height: 14rem;
  object-fit: cover;
  object-position: center;
}

.review-title {
  font-weight: bold;
  /* margin-left: 6rem; */
  margin-bottom: 3.5rem;
  text-align: center;
}

.review-title--artigos {
  font-weight: bold;
  /* margin-left: 6rem; */
  text-align: center;
  border-radius: 4px;
  background-color: #ff7b00;
  margin: 1.5rem 5.6rem 3.5rem 5.6rem;
  color: white;
  padding: 0.75rem 0;
  box-shadow: 0 4px 6px #ccc;
  transition: all 0.1s linear;
}

.review-title--artigos:hover {
  scale: 1.025;
  box-shadow: 0 4px 12px #ccc;
}

.rating-box {
  position: relative;
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px #ccc;
}

.rating-box:hover {
  animation: breath 2s ease infinite;
}

@keyframes breath {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.rating-box h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #ff6600;
  font-weight: bold;
  margin-bottom: 0.55rem;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.stars i:hover {
  color: orange;
}

.stars i {
  color: #e6e6e6;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.stars i.active {
  color: #ff6600;
}

.bottom-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: baseline;
  font-weight: bold;
}

/* -------------- LOGIN -------------- */
.login--body {
  background-image: url(../assets/images/articles/login\ background.jpg);
  background-position: 0 -4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-login {
  display: grid;
  grid-template-rows: 15% 85%;
  min-height: 687px;
  height: 69vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cadastro-anuncio {
  padding-top: 1rem;
  height: 3rem;
  background: #ff7b00;
  color: white;
  z-index: 1;
}

.cadastro-anuncio--1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.cadastro-anuncio--1 p {
  font-family: "Roboto";
  text-transform: uppercase;
  min-width: 55%;
  animation: banner 6s linear infinite;
}

.cadastro-anuncio--2 {
  width: 375px;
  text-align: center;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.login-form h1 {
  margin-bottom: 2rem;
  font-family: "Roboto";
  font-weight: bold;
  background-color: #e9e9e9;
  border-radius: 26px;
  padding: 0.55rem 2rem;
  box-shadow: 0 2px 4px #333;
  transition: all 0.3s ease-in-out;
}

.login-form h1:hover {
  scale: 1.045;
}

.login-form--div {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  height: 62%;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.login-form--div:hover {
  scale: 1.025;
}

#form-login {
  height: 70%;
  padding: 2rem;
  padding-top: 1.5rem;
  font-family: "Roboto";
}

#form-login input {
  display: block;
  width: 218px;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.15s;
}

#form-login input::placeholder {
  font-size: 0.9rem;
}

#form-login input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#form-login button {
  width: 50%;
  height: 2rem;
  border-radius: 8px;
  border: none;
  background-color: #ff7b00;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 3.6rem;
  transition: all 0.15s;
  cursor: pointer;
}

#form-login button:hover,
#form-login input:hover {
  scale: 1.05;
}

/* #form-login--div input:focus {
    form-login {
        scale: 1.01;
    }

}  */
.esqueceu-senha {
  height: 15%;
  text-align: center;
}

.esqueceu-senha a {
  color: #ff8c00;
  text-decoration: none;
}

.esqueceu-senha a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.criar-conta--a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  background-color: #ff7b00;
  border-radius: 19px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.15s;
}

.criar-conta--a:hover {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

/* -------------- FOOTER -------------- */

footer {
  box-shadow: 0 -2px 8px rgb(255, 145, 0);
  background-color: #f4f4f4;
  width: 100%;
  height: 200px;
}

.footer__flex {
  margin: 0 auto;
  display: flex;
  width: 85%;
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 8%;
}

footer hr {
  width: 60rem;
}

.flex--2--1,
.flex--2--2,
.flex--2--3 {
  width: auto;
  text-align: center;
}

.footer__flex--2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.header__div_logo--logo:hover {
  scale: 1.02;
}

.footer-a {
  color: black;
  text-decoration-color: #ff7b00;
  text-decoration-thickness: 2px;
}

/*media responsivo*/

@media only screen and (max-width: 1117px) {
  .child-conteudo {
    font-size: 0.9vw;
  }

  .topicos {
    height: 450px;
  }
  #header-botao-abrir {
    display: inline-block;
  }

  #header-botao-fechar {
    display: none;
  }

  #header-link-home */ #header-link-artigos,
  #header-link-movies,
  #header-link-news,
  #header-link-login {
    display: none;
  }
  footer hr {
    width: 100%;
    margin-top: 11%;
  }
}

/* MEDIA QUERY MOBILE PÁGINA NEWS*/
@media only screen and (max-width: 767.98px) {
  .header {
    display: flex;
    width: 100vw;
    height: 30vw;
    justify-content: flex-start;
  }

  .header__flex {
    display: flex;
    /* flex-direction: column; */
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu-responsivo {
    display: ruby;
    height: 22vw;
    margin: -5%;
  }

  .container {
    display: block;
    width: 95vw;
  }

  .flex__1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    justify-content: flex-start;
  }

  .flex__2 {
    display: flex;
    width: 99vw;
    height: 30vw;
    justify-content: center;
  }

  #header-botao-fechar {
    display: block;
  }

  .header__div_logo--logo {
    display: block;
    width: 20vw;
    padding: 5%;
  }

  .btn.btn-light.btn-custom {
    font-size: 10px;
    justify-content: center;
  }

  .img__anuncio {
    display: flex;
    width: 93vw;
    height: auto;
  }

  .conteudo1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 96vw;
  }
  .conteudo1 p {
    display: flex;
    width: 98vw;
    text-align: left;
    font-size: 15px;
    margin-left: -3%;
    margin-top: 2%;
  }

  .conteudo1 img {
    display: flex;
    margin-left: 8%;
  }

  .conteudo1 h3 {
    display: flex;
    font-size: 25px;
    margin-left: -3%;
  }

  .conteudo2 {
    display: flex;
    flex-direction: column;
    margin-top: 100%;
    width: 93vw;
  }

  .conteudo2 p {
    display: flex;
    width: 98vw;
    text-align: left;
    font-size: 15px;
    margin-left: -5%;
  }

  .conteudo2 img {
    display: flex;
    margin-left: 7%;
  }

  .item {
    width: 94vw;
  }

  .item p {
    margin-top: 4%;
  }

  .conteudo2 h3 {
    display: flex;
    font-size: 25px;
    text-align: center;
    margin-left: 15%;
    width: 80vw;
  }

  .conteudo2 a {
    display: block;
    width: 90vw;
  }

  .conteudo3 {
    display: flex;
    flex-direction: column;
    margin-top: 75%;
    margin-left: 0%;
    height: auto;
    row-gap: 2%;
    width: 98vw;
  }

  .card {
    margin-top: 2%;
  }

  .card1 {
    display: flex;
    width: 95vw;
  }

  .card1 p {
    margin-top: 5%;
  }

  .conteudo4 {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    width: 95vw;
  }

  .conteudo4 h3 {
    display: flex;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 2%;
  }

  .conteudo4--row {
    display: flex;
    justify-content: center;
    width: 95vw;
  }

  .conteudo4 img {
    margin: 0%;
    margin-left: 2%;
    width: 45vw;
    height: 230px;
  }

  .ocultar-responsivo {
    display: none;
  }

  .sideBar {
    display: none;
  }

  .footer__flex {
    display: flex;
    width: 95vw;
    height: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 3%;
  }

  .footer__flex--1 {
    display: flex;
    width: 95vw;
    height: 18vw;
    align-items: flex-end;
    justify-content: space-around;
  }

  .footer__flex--2 {
    display: flex;
    height: 20vw;
    margin-left: 13%;
  }

  .flex--2--3 {
    display: none;
  }

  .div_social-medias {
    display: flex;
    justify-content: center;
    margin-bottom: 40%;
    margin-right: -42%;
  }

  #header-botao-fechar {
    display: flex;
    width: 7vw;
    height: 7vw;
  }

  .darkmode {
    display: block;
    margin-left: -7%;
  }
}
/*MEDIA QUERY MOBILE FINAL PÁGINA NEWS*/

/* MEDIA QUERY TABLET PÁGINA NEWS*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sideBar {
    display: none;
  }

  .container {
    width: 100vw;
  }

  .header {
    display: flex;
    width: 100vw;
  }

  .header__flex {
    display: flex;
    width: 77vw;
  }

  .menu-responsivo a {
    width: 11vw;
  }

  .flex__1 {
    display: flex;

    margin-left: -13%;
  }

  .flex__2 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 12 vw;
    margin-right: -13%;
  }

  .div_social-medias {
    display: flex;
    height: 5vw;
  }

  .darkmode {
    display: flex;
    margin-top: -12%;
  }

  .img__anuncio {
    width: 90vw;
  }

  .card1 p {
    width: 90vw;
    padding-top: 1%;
  }

  .conteudo1 {
    display: flex;
    width: 90vw;
    margin: 0;
    margin-top: 10%;
  }

  .conteudo2 {
    display: flex;
    width: 90vw;
    margin-top: 55%;
    margin-left: 5%;
  }

  .conteudo3 {
    width: 99vw;
    margin: 0;
    margin-top: 5%;
  }

  .conteudo4 {
    display: none;
  }
}

/* MEDIA QUERY TABLET PÁGINA NEWS FINAL*/
